<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <span class="bg-animate">
        </span>
        <span class="bg-animate2">
        </span>
        <div class="form-box login">
            <br><br><br>
            <h2 class="animation" style="--i:0; --j:20">Login</h2>
            <form action="/login" method="post">
                <div class="input-box animation" style="--i:1; --j:21">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box animation " style="--i:2; --j:22;">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <button type="submit" class="btn animation" style="--i:3; --j:23;">Login</button><br><br>
                <div style="text-align: center; color: white; --i:4; --j:23" class="animation">or</div><br>
                <button class="btn animation" style="--i:5; --j:24;"><a href="/auth/google" style="text-decoration: none;color: red;">Google</a></button><br>
                <div class="logreg-link animation" style="--i:6;--j:25;">
                    <p>Don't have an account? <a href="#" class="register-link">Signup</a></p>
                </div>
            </form>
        </div>
        <div class="info-text login ">
            <h2 class="animation" style="--i:0; --j:17">Welcome Back to Cybersheild!!</h2>
        </div>
        <div class="form-box register">
            <br><br><br>
            <h2 class="animation" style="--i:17; --j:1">Sign up</h2>
            <form action="/signup" method="post">
                <div class="input-box animation" style="--i:17; --j:2">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box animation" style="--i:18; --j:3">
                    <input type="text" id="email" name="email" required>
                    <label for="email">Email</label>
                    <i class="bx bxs-envelope"></i>
                </div>
                <div class="input-box animation" style="--i:19; --j:4">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <button type="submit" class="btn animation" style="--i:20; --j:5">Sign Up</button><br><br>
                <div class="logreg-link animation" style="--i:21; --j:6">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
        <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:1">Taking a step to protect your data!!</h2>
            <!-- <p class="animation" style="--i:18; --j:2">
            </p> -->
        </div>
    </div>
    <script src="/js/loginscript.js"></script>
</body>

</html>